html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #12161d;
  color: #FFF;
}

.e-bigger {
    font-size: x-large;
}

.custom-rbt-group {
    width: 100%;
}

    .custom-rbt-group .e-btn {
        width: 50%;
    }

/* Widget */
.widget {
    border-radius: 1rem;
    background-color: #1A222B;
}

/* Grid */
.e-table {
    border: 0;
    border-radius: 5px !important;
}

/* Button */
.btn:focus, btn:active {
    outline: none !important;
    box-shadow: none;
}

/* Hyperlink */
.no-a-decoration, .no-a-decoration:hover {
    text-decoration: none;
    color: inherit;
}